<p>Just insert the multimarkdown version of the data you want converted</p>
<form action="/translate" method="post">
  <label for="output">Output: </label>
  <select name="output">
    <option value="xhtml">XHTML</option>
    <option value="rtf">RTF</option>
  </select> <br />
  <label for="name">Text:</label>
  <textarea name="data"></textarea><br />
  <input type="submit" value="Send" /> <br />
</form>
